@font-face {
	font-display: swap;
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/NotoSans-Regular.ttf') format('truetype');
}

:root {
	--button-font: "LXGW WenKai Mono TC", monospace;
	--main-font: "Noto Sans", monospace;
	--title-font: "Amatic SC", sans-serif;
	/* --bg-color: #1e1e1e;
	--sub-bg-color: rgb(49, 49, 49); */
	--blue-color: #2980b9;
	--red-color: #b9293c;
	--yellow-color: #b98729;
	--green-color: #29b95e;
	--blue-dark-color: #216a94;
	--red-dark-color: #991f31;
	--yellow-dark-color: #99711f;
	--green-dark-color: #20994c;
	--blue-light-color: #3498db;
	--red-light-color: #d14256;
	--yellow-light-color: #d4a032;
	--green-light-color: #3cd174;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

link {
	text-decoration: none;
}

a,
a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-size: inherit;
}

table,
tr,
th {
	font-weight: normal;
}

body {
	height: 100dvh;
	background-color: white;
	-webkit-tap-highlight-color: transparent;
	font-family: "Inter", sans-serif;
}

button {
	color: #FFFFFF;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 8px;
	transition: 0.3s ease-in-out;
}

button span.material-icons-round {
	margin-right: 5px;
}

button.report__delete span.material-icons-round,
button.expenses__delete span.material-icons-round {
	margin-right: 0px;
}

button.blue {
	background-color: var(--blue-color);
}

button.blue:hover {
	background-color: var(--blue-light-color);
}

button.red {
	background-color: var(--red-color);
}

button.red:hover {
	background-color: var(--red-light-color);
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	color: #000000;
	opacity: 0.5;
}

.content__number,
input[type="number"] {
	margin-bottom: 10px;
}

.content__number:last-child,
input[type="number"]:last-child {
	margin-bottom: 0px;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="month"] {
	flex: 1 1 auto;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	padding: 10px 10px;
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	color: #2C2C2C;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	outline: none;
	transition: border 0.2s ease;
}

select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus {
	border-color: #999;
}

input[name="date"] {
	max-width: 180px;
}

input[name="date"]:disabled {
	opacity: 0.5;
}

input[type="file"] {
	margin-top: 20px;
	height: 40px;
	font-weight: 400;
	color: #292D32;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
}

input[type="file"]::file-selector-button {
	padding: 5px 15px;
	font-size: 14px;
	height: 40px;
	font-weight: 500;
	font-family: "Inter", sans-serif;
	cursor: pointer;
	background-color: var(--blue-color);
	color: #FFFFFF;
	border: none;
	/* border-radius: 8px; */
	margin-right: 16px;
	transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
	background-color: var(--blue-light-color);
}

input[type="file"]::file-selector-button:active {
	background-color: var(--blue-light-color);
}


.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.sidebar {
	max-width: 250px;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}

.sidebar__btn {
	display: flex;
	align-items: center;
	margin: 5px 10px;
	padding: 15px 0px 15px 50px;
	background-color: #FFFFFF;
	color: #9197B3;
	border: none;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	text-align: start;
	letter-spacing: -1%;
	transition: 0.3s;
}

.sidebar__btn span {
	margin-right: 5px;
}

.sidebar__btn span:last-child {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.sidebar__btn:hover {
	background-color: #2471a330;
}

.sidebar__btn:disabled {
	opacity: 0.2;
}

.sidebar__btn:disabled:hover {
	background-color: #FFFFFF;
}

.sidebar__btn.active {
	background-color: #2980b9;
	color: #FFFFFF;
}

.content {
	position: relative;
	display: flex;
	flex-grow: 1;
	height: 100%;
}

.content__screen {
	background-color: #F9F9F9;
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25px 25px;
}

.content__screen.active {
	display: flex;
}

.content__title {
	font-size: 24px;
	font-weight: 500;
}

.content__page {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex: 1 1 auto;
	gap: 25px;
	margin-top: 25px;
	max-height: 100%;
}

.content__page button {
	height: 40px;
}

.content__row {
	min-height: 0;
	flex: 1 1 auto;
	display: flex;
	gap: 25px;
}

.content__column {
	min-height: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex: 1 1 auto;
}

.content__column_60 {
	width: 65%;
}

.content__column_40 {
	width: 35%;
}

.content__section {
	width: 100%;
	padding: 25px;
	background-color: #FFFFFF;
	border-radius: 30px;
	flex-shrink: 1;
	max-height: 100%;
}

.content__controls {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
}

.content__section h2 {
	font-size: 16px;
	margin-bottom: 25px;
}

.content__number {
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	letter-spacing: 1px;
	/* margin: 10px 0; */
	padding: 8.5px 0;
	line-height: 1;
}

.content__label {
	font-weight: 600;
	color: #000000;
	opacity: 0.5;
}

.report-buttons {
	display: flex;
	gap: 20px;
}

.content__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.content__section_expenses {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex-grow: 1;
}

.content__section_dividents {
	display: flex;
	justify-content: space-between;
}

.content__footer_expenses,
.content__section_expenses h2 {
	flex: 0 0 auto;
}

.expenses {
	max-height: 100%;
	flex: 1 1 auto;
	overflow-y: auto;
}

.expenses__item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
	margin-bottom: 10px;
}

.expenses__delete {
	padding: 5px 10px;
}

.expenses input[type="number"],
.expenses input[type="date"] {
	max-width: 125px;
	margin-bottom: 0px;
}

.expenses select,
.expenses input[type="text"] {
	flex: 1 0 250px;
}

.expenses select option {
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

.reports {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	height: 100%;
	min-height: 0;
}

.reports__header {
	border-bottom: 1px solid #EEEEEE;
	width: calc(100% - 15px);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: space-between;
	font-weight: 600;
	color: #B5B7C0;
	padding: 0 0 10px;
}

.reports__content {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-y: auto;
}

.reports__item {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	font-weight: 600;
	color: #292D32;
}

.reports__btns {
	display: flex;
	gap: 10px;
}

.reports span {
	font-size: 14px;
}

.chart {
	/* height: auto;
	flex-shrink: 1; */
	/* max-width: 550px; */
}


@media (max-width: 1600px) {

	.chevron,
	.btn-title {
		display: none;
	}

	.sidebar__btn span.chevron {
		display: none;
	}

	.sidebar__btn {
		padding: 15px;
	}

	.sidebar__btn span {
		margin: 0;
	}


}